<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        button {
            min-height: 70px;
            min-width: 100px;
        }
    </style>
</head>
<body>
    <div class="h1">
        <h1>Welcome to Admin Dashboard</h1>
    </div>
    <div class="button-row">
        <a href="/admin/customers"><button class="btn">Manage Customers</button></a>
        <a href="/admin/professionals"><button class="btn">Manage Professional </button></a>
        <a href="/admin/services"><button class="btn">Manage Services</button></a>
        <a href="/admin/service-requests"><button class="btn">Review Service Requests</button></a>
    </div>

</body>
</html>
