<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Household Services App - Home</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        button {
            min-height: 70px;
            min-width: 100px;
        }
    </style>
</head>
<body>
    <div class="h1">
        <h1>Welcome to Household Services Platform</h1>
    </div>
    <div class="button-row">
        <a href="/admin/login"><button class="btn">Admin Login</button></a>
        <a href="/professional/login"><button class="btn">Service Professional Login</button></a>
        <a href="/customer/login"><button class="btn">Customer Login</button></a>
    </div>

</body>
</html>
